{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="features">
    <div>
        {% if selected_question %}
            <h2>{{ selected_question.question_text }}</h2>
        {% endif %}
    </div>
    <form method="post" action="">
        {% csrf_token %}
        {% for question in questions %}
            {% if question.tournament.name == tournament %}
                <input type="submit" name="question_id" value="{{ question.id }}">
            {% endif %}
        {% endfor %}
    </form>
</div>
{% endblock %}
