{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="features">
    <h1>Авторизация</h1>

    <form class="form__features" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <p>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <p><button type="submit" class="button_register">Войти</button></p>
    </form>
</div>
{% endblock %}