{% extends 'base.html' %}
{% load static %}
{% block nav %}
<nav>
    <div class="nav_logo">
        <img src="{% static 'main/img/Logo.jpg' %}" alt="Logo">
    </div>
    <div class="button_container">
        <button class="button_panel">Главная</button>
        <button class="button_panel">Регистрация</button>
        <button class="button_panel">Вход</button>
    </div>
</nav>
{% endblock nav %}

{% block content %}
<div class="features">
    <form method="post">
        <h1>Авторизация</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <p><button type="submit" class="button_register">Войти</button></p>
    </form>
</div>
{% endblock %}