{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link type="text/css" href="{% static 'main/css/style.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">	<title>{{title}}</title>
</head>
<body>
{% block nav %}
  <header>
		<div class="wrapper">
			<nav>
				<ul class="nav">
					<div class="logo"><span class="logo-img"></span><span>NSTourney</span></div>
					<div class="first">
						<li><a href="{% url 'home' %}">Главная</a></li>
				  		<li><a href="#">О Турнире</a></li>
				  		<li><a href="#">Контакты</a></li>
					</div>
					<div class="last">
						{% if user.is_authenticated %}
						<li><a href="{% url 'users:profile' %}">{{user.username}}</a></li>
						<li><a href="{% url 'users:logout' %}">Выйти</a></li>
						{% else%}
						<li><a href="{% url 'users:login' %}">Вход</a></li>
						<li><a href="{% url 'users:register' %}">Регистрация</a></li>
						{% endif %}
					</div>
				</ul>
			</nav>
		</div>
	</header>
{% endblock %}
<div class="wrapper">
	<div class="container">
{% block content %}
{% endblock %}
	</div>
</div>
</body>
</html>

