{% load static %}<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
	<style>
		body {background: url("{% static 'main/img/background.jpg' %}");
		margin: 0;
		height: 100vh;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat}
	</style>
	<title>Document</title>
</head>
<body>

{% block nav%}
<nav>
    <div class="nav_logo">
        <img src="{% static 'main/img/Logo.jpg' %}" alt="Logo">
    </div>
    <ul>
        <li><a href="{% url 'home' %}">Главная</a></li>
		<li><a href="">Регистрация</a></li>
		{% if user.is_authenticated %}
		<li>{{user.username}} | <a href="{% url 'users:logout' %}">Выйти</a></li>
		{% else %}
		<li><a href="{% url 'users:login' %}">Войти</a> | <a href="">Регистрация</a></li>
		{% endif %}
    </ul>
</nav>
{% endblock %}
	<main>
{% block content %}

{% endblock %}
	</main>
</body>
</html>

