body {
    background: url(../img/background.jpg);
    height: 100vh;
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
.wrapper {
	max-width: 1440px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	justify-content:center;
	align-items: center;
}
.nav {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding-left: 0;
	background-color: #52c089;
	margin-top:0;
	padding:7px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	align-items: center;
	font-size: 25px;
    font-weight: 700;
    white-space:nowrap;
}
.first, .last {
	display: flex;
}
.nav li {
	margin-left: 10px;
	margin-right: 10px;
}
.nav a {
	text-decoration: none;
	color: #333333;
	transition: 0.7s;
}
.nav a:hover {
color:#fff;
}
.logo {
	color: #333333;
	font-size: 20px;
	font-weight: 400;
	display: flex;
	align-items: center;
}
.logo-img {
	display: block;
	width: 80px;
	height: 45px;
	background-image: url(../img/logo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 4px;
}

.container {
    display:flex;
	justify-content:center;
	align-items: center;
	margin-top: 150px;
}
.features {
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	padding: 15px;
	border-radius: 15px;
	max-width: 800px;
    background: #D9D9D9;
    mix-blend-mode: hard-light;
}
.form__features {
    display: flex;
	flex-direction: column;
	align-items: center;
}
.css_input {
    padding:5px 15px;
	border-radius: 24.32px;
	background: #366707;
	color: #FFF;
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 1.678px;
}
.css_input::placeholder {
	color: #FFF;
	letter-spacing: 1.678px;
}
.button_register {
    padding: 3px 15px;
    max-height: 50px;
	border-radius: 24.32px;
	background: #C44D4D;
    margin-top: auto; /* Расположение кнопки внизу блока */
    margin-bottom:0;
	color: #FFF;
	text-align: center;
	font-size: 27.968px;
	font-style: normal;
	font-weight: 500;
	line-height: 146.667%; /* 41.02px */
	letter-spacing: 1.678px;
}